body{
	background-color: rgb(170, 170, 170);
}
.banniere
{
	height: 600px;
	width:100%;
	background: url('/../images/emile-perron-190221.jpg');
	background-size: cover;
	margin-top: 50px;
}
.titleUp
{

	margin-top: 76px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form 
{
	background: #28CA97;
	border-color: none;
	border-color: #2a2a2a;
	border: none;
}
.navbar-default .navbar-nav>li>a
{
	color: white;
}
.troteur 
{
   
	width:340px;
	background: white;
	margin:0 auto;
	padding: 20px;
   position: relative;
   top: 60%;
   text-align: center;
}
.navbar-default .navbar-nav>li>a {
	margin-right: 40px;
}
.troteur h3 
{
	font-weight: bold;
	margin: 0px 0px 10px;
	color: black;
}
.troteur h6 
{
	color: #3D704C;
}
.troteur a
{
	color: #3D704C;
   
}
hr
{
	margin-top: 5px;
}
.formulaire-mail
{
	padding-top: 34px;
	padding-bottom: 15px;
	padding-right: 24px;
	padding-left: 24px;
	background: #f7f7f7;
	margin-top: 60px;
	margin-bottom: 71px;
}
.formulaire-mail p
{
   color: grey;
   margin-top: 6px;
} 
.btn-default
{
   width:100%;
   background: #28CA97;
   color: white;
   text-shadow: none;
   border-radius: 0px;
   border:none;
   text-transform: uppercase;
}
.btn-default:hover
{
   background: #75aa75;
   color: white;
}
.post-recent 
{
	margin-bottom: 30px;
}
.post-recent .img-responsive 
{
	min-height: 221px;
	max-height: 221px;
	width: 100%;
	transition: 1s;
}
.post-recent .img-responsive:hover
{
	filter: blur(0.5px);
}

.post-recent hr 
{
	margin-top: 50px;
}
.post-recent .col-md-7 p
{
	line-height: 26px;
	color: #6a6767;
}
.post-recent .col-md-7 h2
{
	margin-top: 4px;
}
.post-recent .col-md-7 .date
{
	font-size: 13px;
	color: #28CA97;
}
.post-recent a
{
	text-decoration: none;
	color: #272727;
}
.post-recent a:hover
{
	color: #6D6D6D;
}
.populaire
{
	text-align:center;
	border: 1px solid #d3d3d3;
	padding: 10px;
	margin-bottom: 40px;
}
.post-pop p 
{
	text-align: center;
	margin-top: 27px;
	color: #6e6e6e;
}
.post-pop a
{
	color: #75aa75;
	border-bottom: 0.1px solid #75aa75;
	padding-bottom: 3px;
}
.post-pop a:hover
{
	text-decoration: none;
}
.toof 
{
	height: 80px;
	background: #28CA97;
	margin-top: 200px;
}
.article p 
{
	margin-top: 60px;
	line-height: 24px;
}
.btn-success
{
	background:#75aa75;
	padding: 3px 8px 3px 8px;
	
}
.article img
{
	height: 384px;
}
.userbtn{
	margin-top: 9px;
}
