<%- contentFor('myArticle') %>
            <div id="myArticle">
                <br>
                <br>
                <br>
                <div class="article">
                    <h2><%= mesArticles.title %></h2>
                    <img src="/../images/<%= mesArticles.img %>"  class="img-responsive"alt="">
                    <p><%= mesArticles.content %></p>
                   <figure class="text-right">
                        <button class="btn btn-success ">Like</button>
                   </figure> 
                </div>  
             </div>   

    
